[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic = "*"
requests = "*"
fastapi = "*"
python-multipart = "*"  # to recieve html form data
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
invoke = "*"  # to run console in production
ipython = "*"  # to run console in production
jinja2 = "*"

[dev-packages]
pytest = "*"
vcrpy = "*"
pytest-cov = "*"
flake8 = "*"
radon = "*"
black = "*"
regex = "==2021.09.30"  # to fix the library validation error of `black`
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
