[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic = "*"
requests = "*"
fastapi = "*"
python-multipart = "*"  # to recieve html form data
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
invoke = "*"  # to run console in production
ipython = "*"  # to run console in production
jinja2 = "*"
itsdangerous = "*"  # to use SessionMiddleware from Starlette
returns = "*"

[dev-packages]
pytest = "*"
selenium = "*"
webdriver-manager = "*"  # to automatically install webdriver for Selenium
flake8 = "*"
radon = "*"
isort = "*"
black = "*"
regex = "==2021.10.21"  # to fix the library validation error of `black` when using Apple M1 devices
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
