{% extends "layout.html" %}
{% block content %}
<div class="container">
  <form role="form" action="/repo/" method="post" id="add-repo-form">
    <div class="row vertical-align query-bar">
      <div class="col-2">
        <div class="text-right">Github URL:</div>
      </div>
      <div class="col-8">
        <input
          type="text"
          name="url"
          id="url_input"
          class="form-control"
          placeholder="e.g.: https://www.github.com/soumyaray/YPBT-app"
        >
      </div>
      <div class="col-2">
        <button
          type="submit"
          id="repo_form_submit" 
          name="repo_form_submit"
          value="submit"
          class="btn btn-success submit"
        >+ Add Repo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 blank-row"></div>
    </div>
  </form>
  {% if projects.any %}
  <table class="table" id="repos_table">
    <thead>
      <tr>
        <th>Owner</th>
        <th>Github URL</th>
        <th>Git Repo</th>
        <th>Contributors</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects.collection %}
      <tr class="repo_row" id="repo[{{ loop.index0 }}].row">
        <td id="td_owner">
          <span class="repo_table_owner" id="repo[{{ loop.index0 }}].owner">
            {{ project.owner }}
          </span>
        </td>
        <td id="td_repo_name">
          <span class="repo_name" id="repo[{{ loop.index0 }}].name">
            <a 
              href="{{ project.link_to_repo }}"
              id="repo[{{ loop.index0 }}].link"
            >
              {{ project.name }}
            </a>
          </span>
        </td>
        <td id="td_link">
          <span class="repo_gh_url" id="repo[{{ loop.index0 }}].gh_url">
            <a
              href="{{ project.github_href }}"
              target="_blank"
            >{{ project.github_href }}</a>
          </span>
        </td>
        <td id="td_contributors">
          <span
            class="repo_table_contributor"
            id="repo[{{ loop.index0 }}].contributors"
          >{{ project.contributors }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}