{% extends "layout.html" %}
{% block content %}
<div class="container">
  <form role="form" action="/repo/" method="post" id="add-repo-form">
    <div class="row justify-content-center vertical-align">
      <div class="col-12 col-md-10 col-lg-9 col-xl-7 col-xxl-6">
        <input
          type="text"
          name="url"
          id="url_input"
          class="form-control"
          placeholder="https://www.github.com/soumyaray/YPBT-app"
        >
        <button
          type="submit"
          id="repo_form_submit" 
          name="repo_form_submit"
          value="submit"
          class="btn btn-primary submit"
        >
          <!-- mdi-plus-thick -->
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M20 14H14V20H10V14H4V10H10V4H14V10H20V14Z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 blank-row"></div>
    </div>
  </form>
  {% if projects.any %}
  <div class="row justify-content-center">
    <table class="table" id="repos_table">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Git Repo</th>
          <th>Github URL</th>
          <th>Contributors</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects.collection %}
        <tr class="repo_row" id="repo[{{ loop.index0 }}].row">
          <td id="td_owner">
            <span class="repo_table_owner" id="repo[{{ loop.index0 }}].owner">
              {{ project.owner }}
            </span>
          </td>
          <td id="td_repo_name">
            <span class="repo_name" id="repo[{{ loop.index0 }}].name">
              <a 
                href="{{ project.link_to_repo }}"
                id="repo[{{ loop.index0 }}].link"
              >
                {{ project.name }}
              </a>
            </span>
          </td>
          <td id="td_link">
            <span class="repo_gh_url" id="repo[{{ loop.index0 }}].gh_url_span">
              <a
                id="repo[{{ loop.index0 }}].gh_url"
                href="{{ project.github_href }}"
                target="_blank"
              >{{ project.github_href }}</a>
            </span>
          </td>
          <td id="td_contributors">
            <span
              class="repo_table_contributor"
              id="repo[{{ loop.index0 }}].contributors"
            >{{ project.contributors }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}