<!DOCTYPE html>
<html>
  <head>
    <title>CodePraise</title>
    <!-- Bootstrap CSS and theme (United Theme) -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    
    <!-- JQuery and Bootstrap JS -->
    <script src="{{ url_for('static', path='/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  </head>
  <body>
    <div class="container" id="html_body">
      <section>
        <div class="row" style="vertical-align: middle;">
          <div class="col-12">
            <h1 id="main_header" class="text-center mb-4">
              <a href="/">CodePraise</a>
            </h1>
          </div>
        </div>
      </section>
      <section>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-7 col-xxl-6">
            {% include "flash_bar.html" %}
          </div>
        </div>
        {% block content %}{% endblock %}
      </section>
      <footer class="text-center">
        CodePraise is made for demonstration purposes.
        We cannot warrant full correctness of all content.
        CodePraise uses cookies but does not track users or record behavior.
      </footer>
    </div>
  </body>
</html>