<!DOCTYPE html>
<html>
  <head>
    <title>CodePraise</title>
    <!-- Bootstrap CSS and theme (United Theme) -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">

    <!-- JQuery and Bootstrap JS -->
    <script src="{{ url_for('static', path='/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  </head>
  <body>
    <div class="container" id="html_body">
      <section>
        <div class="row" style="vertical-align: middle;">
          <div class="col-12">
            <h1 id="main_header">
              <a href="/">CodePraise</a>
            </h1>
          </div>
        </div>
      </section>
      <section>
        {% include "flash_bar.html" %}
        {% block content %}{% endblock %}
      </section>
      <footer class="text-center">
        CodePraise is made for demonstration purposes.
        We cannot warrant full correctness of all content.
        CodePraise uses cookies but does not track users or record behavior.
      </footer>
    </div>
  </body>
</html>