{% extends "layout.html" %}
{% block content %}
<div class="container">
  {% if result.processing %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-9 col-xl-7 col-xxl-6">
      <div class="progress">
        <div
          class="progress-bar progress-bar-success active"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%"
        ></div>
      </div>
    </div>
  </div>
  <script>
    const wsHost = "{{ processing.ws_host }}"
    const channelId = "{{ processing.ws_channel_id }}"
    const ws = new WebSocket(`${wsHost}/progress/${channelId}`)
    const bar = document.getElementsByClassName("progress-bar")[0]
    const reg = /\: (\d+)%/

    ws.onmessage = function(event) {
      // Collect progressbar element and percentage
      const progress = bar.getAttribute("style")
      const currentProgress = reg.exec(progress)[1]

      const message = event.data
      if (isNaN(message)) {
        bar.setAttribute("style", "width: 100%")
        bar.setAttribute("class", "progress-bar progress-bar-danger progress-bar-striped")
        bar.innerHTML = message
      } else {
        if (parseInt(message) > parseInt(currentProgress)) {
          // Set the progress bar and percentage
          bar.setAttribute("aria-valuenow", message)
          bar.setAttribute("style", `width: ${message}%`)
          bar.innerHTML = `${message}%`

          // Reoad page at 100%
          if (message == "100") {
            setTimeout(function () {
              window.location = window.location.href.split('?')[0]
            }, 1000)
          }
        }
      }
    }
  </script>
  {% else %}

  <nav aria-label="breadcrumb">
    <!-- mdi-folder-open-outline -->
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M6.1,10L4,18V8H21A2,2 0 0,0 19,6H12L10,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H19C19.9,20 20.7,19.4 20.9,18.5L23.2,10H6.1M19,18H6L7.6,12H20.6L19,18Z" />
    </svg>
    <ol class="breadcrumb d-inline">
      {% set breadcrumb_items, current_dir = folder.breadcrumb %}
      {% for breadcrumb_item in breadcrumb_items %}
      <li class="breadcrumb-item d-inline-block"><a href="{{ breadcrumb_item[1] }}">{{ breadcrumb_item[0] }}</a></li>
      {% endfor %}
      <li class="breadcrumb-item active d-inline-block" aria-current="page">{{ current_dir }}</li>
    </ol>
  </nav>

  <div class="row justify-content-center">
    <table class="table" id="repos_table">
      <thead>
        <tr>
          <th>
            {% for contributor in folder.contributors %}
            <th>{{ contributor.name }}</th>
            {% endfor %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for sub in folder.subfolders %}
        <tr>
          <td>
            <a href="{{ sub.link }}">
              <span>{{ sub.name }}/</span>
            </a>
          </td>
          {% for contributor in folder.contributors %}
          <td>
            <span>{{ sub.contributions[contributor] }}</span>
          </td>
          {% endfor %}
        </tr>
        <tr>
          {% for _ in range(folder.contributors | length + 1) %}
          <td></td>
          {% endfor %}
        </tr>
        {% endfor %}

        <tr class="table-secondary">
          <td>
            <span>
              files
            </span>
          </td>
          {% for contributor in folder.contributors %}
          <td>
            <span>
              {{ folder.base_folder.contributions[contributor] }}
            </span>
          </td>
          {% endfor %}
        </tr>

        {% for sub in folder.base_files %}
        <tr>
          <td>
            <span>
              {{ sub.name }}
            </span>
          </td>
          {% for contributor in folder.contributors %}
          <td>
            <span>
              {{ sub.contributions[contributor] }}
            </span>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
